<div class="homepage">
    <div class="homepage-section1">
            <div class="homepage-section1-header">
                    <div>
                        <img src="./../../../assets/img_logo_sueep.png" >
                    </div>
                    <div class="row mr-5">
                        <div class="homepage-section1-header-homebtn">Home</div>
                        <div class="homepage-section1-header-menuitems mt-2">About Us</div>
                        <div class="homepage-section1-header-menuitems mt-2">Jobs</div>
                        <div class="homepage-section1-header-menuitems mt-2">Blog</div>
                        <div class="homepage-section1-header-menuitems mt-2">Contact</div>
                    </div>
                    <div class="row">
                        <div class="homepage-section1-header-loginbtn">Login</div>
                        <div class="homepage-section1-header-socialbtn mt-1"><fa-icon [icon]="faFacebook"></fa-icon></div>
                        <div class="homepage-section1-header-socialbtn mt-1"><fa-icon [icon]="faInstagram"></fa-icon></div>
                        <div class="homepage-section1-header-socialbtn mt-1"><fa-icon [icon]="faLinkedin"></fa-icon></div>
                    </div>
            </div>
            <div class="homepage-section1-body">
                <div class="homepage-section1-body-personimg">
                    <img src="./../../../assets/img_1-1-person.png" class="homepage-section1-body-personimg">
                </div>
                <div class="homepage-section1-body-right">
                    <div class="homepage-section1-body-right-up">
                        <div class="homepage-section1-body-right-up-text">
                            <div class="homepage-section1-body-right-up-text-bigtitle">
                                Lorem
                            </div>
                            <div class="homepage-section1-body-right-up-text-smalltitle">
                                Lorem ipsum
                            </div>
                            <div class="homepage-section1-body-right-up-text-desp">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            </div>
                            <div>
                                <div class="homepage-section1-body-right-up-text-btn">
                                LOREM IPSUM
                                </div>
                            </div>
                        </div>
                        <div class="homepage-section1-body-right-up-smallcircles">
                            <div class="homepage-section1-body-right-up-smallcircles-on"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                        </div>
                    </div>
                    <div class="homepage-section1-body-right-down">
                        <div class="homepage-section1-body-right-down-smallcircles">
                            <div class="homepage-section1-body-right-down-smallcircles-on"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                        </div>
                        <div><img src="./../../../assets/img_1-1-quiz.png" class="homepage-section1-body-right-down-quizimg"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="homepage-section2">
        <div class="homepage-section2-title">
            Obtain an Estimate
        </div>
        <blockquote class="oval-speech">
            <div>
                firstline
                <div>
                    <label for="first_name">First Name</label>
                    <input type="text"/>
                </div>
            </div>
        </blockquote>
        <div>
            small circles
        </div>
    </div>
</div>

