<div class="homepage">
    <div class="homepage-section1">
            <div class="homepage-section1-header">
                    <div>
                        <img src="./../../../assets/img_logo-sueep.png" />
                    </div>
                    <div class="row mr-5">
                        <div class="homepage-section1-header-homebtn">Home</div>
                        <div class="homepage-section1-header-menuitems mt-2">About Us</div>
                        <div class="homepage-section1-header-menuitems mt-2">Jobs</div>
                        <div class="homepage-section1-header-menuitems mt-2">Blog</div>
                        <div class="homepage-section1-header-menuitems mt-2">Contact</div>
                    </div>
                    <div class="row">
                        <div class="homepage-section1-header-loginbtn">Login</div>
                        <div class="homepage-section1-header-socialbtn mt-1"><fa-icon [icon]="faFacebook"></fa-icon></div>
                        <div class="homepage-section1-header-socialbtn mt-1"><fa-icon [icon]="faInstagram"></fa-icon></div>
                        <div class="homepage-section1-header-socialbtn mt-1"><fa-icon [icon]="faLinkedin"></fa-icon></div>
                    </div>
            </div>
            <div class="homepage-section1-body">
                <div>
                    <img src="./../../../assets/img_1-1-person.png" class="homepage-section1-body-personimg">
                </div>
                <div class="homepage-section1-body-right">
                    <div class="homepage-section1-body-right-up">
                        <div class="homepage-section1-body-right-up-text">
                            <div class="homepage-section1-body-right-up-text-bigtitle">
                                Lorem
                            </div>
                            <div class="homepage-section1-body-right-up-text-smalltitle">
                                Lorem ipsum
                            </div>
                            <div class="homepage-section1-body-right-up-text-desp">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            </div>
                            <div>
                                <div class="homepage-section1-body-right-up-text-btn">
                                LOREM IPSUM
                                </div>
                            </div>
                        </div>
                        <div class="homepage-section1-body-right-up-smallcircles">
                            <div class="homepage-section1-body-right-up-smallcircles-on"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                        </div>
                    </div>
                    <div class="homepage-section1-body-right-down">
                        <div class="homepage-section1-body-right-down-smallcircles">
                            <div class="homepage-section1-body-right-down-smallcircles-on"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                        </div>
                        <div><img src="./../../../assets/img_1-1-quiz.png" class="homepage-section1-body-right-down-quizimg"></div>
                    </div>
                </div>
            </div>
    </div>
    <div class="homepage-section2">
        <div class="homepage-section2-title">
            Obtain an Estimate
        </div>
        <div class="homepage-section2-roundrect mt-5">
            <div class="homepage-section2-roundrect-head">
            </div>
            <div class="homepage-section2-roundrect-row1">
                <div class="homepage-section2-roundrect-row1-inputsection">
                    <div class="homepage-section2-roundrect-row1-inputsection-label">
                        First Name
                    </div>
                    <input type="text" placeholder="Raquel, Edwin, Alexis"  class="homepage-section2-roundrect-row1-inputsection-input">
                </div>
                <div class="homepage-section2-roundrect-row1-inputsection">
                    <div class="homepage-section2-roundrect-row1-inputsection-label">
                        Last Name
                    </div>
                    <input type="text" placeholder="Gonzales, Flores" class="homepage-section2-roundrect-row1-inputsection-input">
                </div>
            </div>
            <div class="homepage-section2-roundrect-row1 mt-3">
                <div class="homepage-section2-roundrect-row1-inputsection">
                    <div class="homepage-section2-roundrect-row1-inputsection-label">
                        Email
                    </div>
                    <input type="text" placeholder="Raquel, Edwin, Alexis"  class="homepage-section2-roundrect-row1-inputsection-input" style="width: 278px;">
                </div>
                <div class="homepage-section2-roundrect-row1-inputsection">
                    <div class="homepage-section2-roundrect-row1-inputsection-label">
                        Phone
                    </div>
                    <input type="text" placeholder="Gonzales, Flores" class="homepage-section2-roundrect-row1-inputsection-input" style="width: 258px;">
                </div>
                <div class="homepage-section2-roundrect-row1-inputsection">
                    <div class="homepage-section2-roundrect-row1-inputsection-label">
                        Zip Code
                    </div>
                    <input type="text" placeholder="Gonzales, Flores" class="homepage-section2-roundrect-row1-inputsection-input" style="width: 192px;">
                </div>
            </div>
            <div class="homepage-section2-roundrect-row3 mt-5">
                <div class="homepage-section2-roundrect-lamp mr-5">
                    <img src="./../../../assets/img_1-2-lamp1.png">
                    <div class="homepage-section2-roundrect-selectWrapper ml-2">
                        <select id="example1"  class="homepage-section2-roundrect-selectBox">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
                <div class="homepage-section2-roundrect-lamp ml-5">
                    <img src="./../../../assets/img_1-2-lamp2.png">
                    <div class="homepage-section2-roundrect-selectWrapper ml-2">
                        <select id="example1"  class="homepage-section2-roundrect-selectBox">
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="homepage-section2-roundrect-row1 mt-5">
                <div class="homepage-section2-roundrect-quotebtn">
                    Get Quote
                </div>
            </div>
            <div class="homepage-section2-roundrect-row1 mt-5">
                <div class="homepage-section2-roundrect-desp">
                    By entering my email and phone number above, I agree to Sueep's Terms of Use and Privacy Policy (please click for more details
                    and give Sueep permission to contact me for any purpose, including to finalize bookings and provide updates and exclusive offers.
                </div>
            </div>
        </div>
        <div class="homepage-section2-scrollcircle">
            <div class="homepage-section1-body-right-up-smallcircles">
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                <div class="homepage-section1-body-right-up-smallcircles-on"></div>
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
            </div>
        </div>
        
    </div>
    <div class="homepage-section3">
        <div class="homepage-section3-main mt-4">
            <div class="homepage-section3-title mb-5">
                Sueepers
            </div>
            <div class="homepage-section3-strokegroup">
                <img  src="./../../../assets/img_1-3-text.png">

                <div class="homepage-section3-womangroup">
                    <img  src="./../../../assets/img_1-3-woman.png"  class="homepage-section3-womangroup-small">
                    <img  src="./../../../assets/img_1-3-woman.png"  class="homepage-section3-womangroup-big">
                    <img  src="./../../../assets/img_1-3-woman.png"  class="homepage-section3-womangroup-small">
                </div>
            </div>
        </div>
        <div class="homepage-section3-scrollcircle">
            <div class="homepage-section1-body-right-up-smallcircles">
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                <div class="homepage-section1-body-right-up-smallcircles-on"></div>
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                <div class="homepage-section1-body-right-up-smallcircles-off"></div>
            </div>
        </div>
    </div>
    <div class="homepage-section4">
        <div class="homepage-section4-rotatesection4">
            <div class="homepage-section4-rotatesection4-main">
                <img  src="./../../../assets/img_1-4-humans.png" class="homepage-section4-rotatesection4-humans">
                <div class="homepage-section4-rotatesection4-textgroup">
                    <div class="homepage-section4-rotatesection4-textgroup-first">
                        The cleaning that my office required a professional team and I am glad Sueep has a very serious approach to quality
                    </div>
                    <div class="homepage-section4-rotatesection4-textgroup-second">
                        <div class="homepage-section4-rotatesection4-textgroup-second-black">
                            Between work and spending time with my family,
                            <br>I am unable to clean my home.
                        </div>
                        <div class="homepage-section4-rotatesection4-textgroup-second-red">
                            Sueep has given me freedom to do the things I love
                        </div>   
                    </div>
                    <div class="homepage-section4-rotatesection4-textgroup-third">
                        The best feeling is waking into a clean home and being able to rest after a long day of work
                    </div>
                    <div class="homepage-section4-rotatesection4-circles mt-5">
                        <div class="homepage-section1-body-right-down-smallcircles">
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-on"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                            <div class="homepage-section1-body-right-down-smallcircles-off"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage-section4-rotatesection4-scrollcircle">
                <div class="homepage-section1-body-right-up-smallcircles">
                    <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                    <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                    <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                    <div class="homepage-section1-body-right-up-smallcircles-on"></div>
                    <div class="homepage-section1-body-right-up-smallcircles-off"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="homepage-section5">
        <div class="homepage-section5-serviceinfo">
            <div class="homepage-section5-serviceinfo-countscleaning">2,000+</div>
            <div class="homepage-section5-serviceinfo-desp">cleanings completed</div>
        </div>
        <div class="homepage-section5-serviceinfo mt-5">
            <div class="homepage-section5-serviceinfo-countsexperience">10+</div>
            <div class="homepage-section5-serviceinfo-desp">years of average
                    <br>Sueeper experience</div>
        </div>
        <div class="homepage-section5-serviceinfo">
            <div class="homepage-section5-serviceinfo-countscustomer">10,000+</div>
            <div class="homepage-section5-serviceinfo-desp">satisfied customers </div>
        </div>
    </div>
    <div class="homepage-footer">
        <div class="homepage-footer-section6">
            <div><img src="./../../../assets/img_logo-sueep.png"></div>
            <div>
                <div class="homepage-footer-section6-bigtitle">Available</div>
                <div class="homepage-footer-section6-smalltitle">Mon-Fri: 7:00 am - 7:00 pm</div>
                <div class="homepage-footer-section6-smalltitle">Sat-Sun: 11:00 am - 16:00 pm</div>
                <div class="homepage-footer-section6-bigtitle">Contact Us</div>
                <div class="homepage-footer-section6-smalltitle">contact@sueep.com</div>
            </div>
            <div>
                <div class="homepage-footer-section6-bigtitle">Navigation</div>
                <div class="homepage-footer-section6-smalltitle">Sueep Terms of Use</div>
                <div class="homepage-footer-section6-smalltitle">FAQ's</div>
                <div class="homepage-footer-section6-smalltitle">Jobs</div>
                <div class="row mt-2">
                    <div class="homepage-footer-section6-socialbtn mt-1"><fa-icon [icon]="faFacebook"></fa-icon></div>
                    <div class="homepage-footer-section6-socialbtn mt-1"><fa-icon [icon]="faInstagram"></fa-icon></div>
                    <div class="homepage-footer-section6-socialbtn mt-1"><fa-icon [icon]="faLinkedin"></fa-icon></div>
                </div>
            </div>
            <div>
                <img src="./../../../assets/img_1-footer-bbb.png">
            </div>
            <div>
                <img src="./../../../assets/img_1-footer-mark.png">
            </div>
        </div>
    </div>
</div>

