$fontFamily: "RobotoSlab";

.homepage {
    padding-right: 25px;
    &-section1 {
        background: url("./../../../assets/img_1-1-bkg.png")
        no-repeat center center;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
    }
    &-section2 {
        background: url("./../../../assets/img_1-2-bkg.png")
        no-repeat center center;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.homepage-section1-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 30px;
    padding-top: 50px;
    padding-bottom: 70px;
    &-logo {
        width: 80%;
        height: 80%;
    }
    &-menuitems{
        color: white;
        font-size: 18px;
        line-height: 22px;
        font-family: $fontFamily;
        margin-left: 15px;
        margin-right: 15px;
        &:hover {
            cursor: pointer;
        }
    }
    &-homebtn {
        width: 144px;
        height: 47px;
        color: white;
        font-size: 18px;
        line-height: 22px;
        font-family: $fontFamily;
        border: 1.5px solid white;
        border-radius: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        &:hover {
            cursor: pointer;
        }
    }
    &-loginbtn {
        width: 144px;
        height: 47px;
        border-radius: 23px;
        border: 1.5px solid #db1f63;
        color: #db1f63;
        font-family: $fontFamily;
        font-size: 19px;
        font-weight: bold;
        line-height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        margin-left: 15px;
        &:hover {
            cursor: pointer;
            color: white;
            background-color: #db1f63;
        }
    }
    &-socialbtn {
        color: #db1f63;
        width: 34px;
        height: 34px;
        border-radius: 17px;
        border: 1.5px solid #db1f63;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        margin-right: 10px;
        &:hover {
            cursor: pointer;
            color: white;
            background-color: #db1f63;
        }
    }
}
.homepage-section1-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    &-personimg {
        margin-left: 10%;
        width: 80%;
        height: 80%;
    }
    &-right {
        display: flex;
        flex-direction: column;
        &-up {
            display: flex;
            flex-direction: row;
            &-text {
                display: flex;
                flex-direction: column;
                align-items: right;
                margin-right: 100px;
                &-bigtitle {
                    color: #db1f63;
                    font-size: 105px;
                    font-family: $fontFamily;
                    font-weight: bold;
                    line-height: 109px;
                    text-align: right;
                }
                &-smalltitle {
                    color: #401a62;
                    font-size: 57px;
                    font-family: $fontFamily;
                    font-weight: 500;
                    line-height: 61px;
                    text-align: right;
                }
                &-desp {
                    color: #05113b;
                    font-size: 19px;
                    font-family: $fontFamily;
                    font-weight: bold;
                    line-height: 23px;
                    text-align: right;
                    margin-top: 30px;
                }
                &-btn {
                    color: #b42969;
                    font-size: 23px;
                    line-height: 27px;
                    font-weight: bold;
                    font-family: $fontFamily;
                    width: 247px;
                    height: 64px;
                    border-radius: 32px;
                    border: 2px solid #b42969;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    float: right;
                    margin-top: 50px;
                    margin-bottom: 20%;
                    &:hover {
                        color: white;
                        background-color: #b42969;
                        cursor: pointer;
                    }
                }
            }
            &-smallcircles {
                display: flex;
                flex-direction: column;
                justify-content: center;
                &-on {
                    width: 14px;
                    height: 14px;
                    border-radius: 7px;
                    background-color: #793888;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
                &-off {
                    width: 14px;
                    height: 14px;
                    border-radius: 7px;
                    background-color: #382067; 
                    opacity: 29%;
                    margin-bottom: 10px;
                    margin-top: 10px;   
                }
            }
        }
        &-down {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            &-smallcircles {
                display: flex;
                flex-direction: row;
                justify-content: center;
                &-on {
                    width: 14px;
                    height: 14px;
                    border-radius: 7px;
                    background-color: #793888;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                &-off {
                    width: 14px;
                    height: 14px;
                    border-radius: 7px;
                    background-color: #382067; 
                    opacity: 29%;
                    margin-left: 10px;
                    margin-right: 10px;   
                }
            }
            &-quizimg {
                width: 80%;
                height: 80%;
            }
        }

    }
}
.homepage-section2-title {

}
.homepage-section2-square {
    background: url("./../../../assets/img_1-2-square.png")
    no-repeat center center;
    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.oval-speech {
    position:relative;
    width:270px;
    padding:50px 40px;
    margin:1em auto 50px;
    text-align:center;
    color:#fff;
    background:#5a8f00;
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background:-moz-linear-gradient(#b8db29, #5a8f00);
    background:-o-linear-gradient(#b8db29, #5a8f00);
    background:linear-gradient(#b8db29, #5a8f00);
    /*
    NOTES:
    -webkit-border-radius:220px 120px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:220px / 120px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius:220px 120px;
    -webkit-border-top-right-radius:220px 120px;
    -webkit-border-bottom-right-radius:220px 120px;
    -webkit-border-bottom-left-radius:220px 120px;
    -moz-border-radius:220px / 120px;
    border-radius:220px / 120px;
  }
  
  .oval-speech p {font-size:1.25em;}
  
  /* creates part of the curve */
  .oval-speech:before {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-30px;
    right:50%;
    height:30px;
    border-right:60px solid #5a8f00;
    background:#5a8f00; /* need this for webkit - bug in handling of border-radius */
    /* css3 */
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(0, -2px);
    -moz-transform:translate(0, -2px);
    -ms-transform:translate(0, -2px);
    -o-transform:translate(0, -2px);
    transform:translate(0, -2px);
  }
  
  /* creates part of the curved pointy bit */
  .oval-speech:after {
    content:"";
    position:absolute;
    z-index:-1;
    bottom:-30px;
    right:50%;
    width:60px;
    height:30px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    /* using translate to avoid undesired appearance in CSS2.1-capabable but CSS3-incapable browsers */
    -webkit-transform:translate(-30px, -2px);
    -moz-transform:translate(-30px, -2px);
    -ms-transform:translate(-30px, -2px);
    -o-transform:translate(-30px, -2px);
    transform:translate(-30px, -2px);
  }
  